body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 320px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center; /* centers logo and everything inside */
}


.login-title {
  margin-bottom: 20px;
  color: #0f0f0f;
  font-size: 1.6rem;
}

.login-card input {
  width: 100%;
  padding: 10px 14px; /* top/bottom = 10px, left/right = 14px */
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box; /* ensures padding doesn’t break width */
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #5a5ab6;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 18px; /* ✅ space from inputs */
}

.login-btn:hover {
  background: #0056b3;
}
.logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto 0px;
}